<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Where <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <form action="">
            <div class="menu-form">
              <label for="city">City</label>
              <input id="city" type="text" class="form-control" value="San Francisco"/>
            </div>
            <div class="menu-form">
              <label for="state">State</label>
              <%= select_tag(:state, options_for_select(@states), :class => "form-control") %>
            </div>
          </form>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">When <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <form action="">
            <div class="menu-form">
              <label for="fromDt">From Date</label>
              <input id="fromDt" type="date" class="form-control" value="<%= Date.today.strftime('%Y-%m-%d').to_s %>"/>
            </div>
            <div class="menu-form">
              <label for="toDt">To Date</label>
              <input id="toDt" type="date" class="form-control"/>
            </div>
          </form>
        </ul>
      </li>

      <form id="frmSearch" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Keyword Search">
        </div>
        <button type="button" id="search" class="btn btn-danger">Search</button>
        <button type="button" id="clear"  class="btn btn-danger">Clear</button>
      </form>
    </ul>
  </nav>