<%= javascript_include_tag "search" %>
<div class="container">
    <div class="col-md-12" id="welcome">
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Enter a keyword and click search.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" id="event-list">
      </div>
      <div id="map-canvas" class="col-md-8">
      </div>
    </div>
</div>

