<%=	render "nav"  %>
    <div class="col-md-12" id="welcome">
          <div class="jumbotron">
            <h2>
              Welcome to GetThereApp <br/>
              <small>
                Never again miss out on an event in your area.
              </small>
            </h2>
            <p>Search for events by where, when and what.</p>
            <ol>
              <li>Enter search information</li>
              <ul>
                <li>Where: narrows your search to a city and/or state.</li>
                <li>When: looks for events within a date range or after a specified date.</li>
                <li>What: enter keywords like music, food, sports or combinations.</li>
              </ul>
              <li>Click the search, and let the fun begin!</li>
            </ol>
            <h4>(Remember, you can always start over by clicking the clear button)</h4>
          </div>
          <!--<%=	render "documentation"  %> -->
        </div>
        <div class="alert alert-info hidden"></div>
        <div class="row">
          <div class="col-md-12" id="event-pager-container"></div>
          <div class="col-md-4" id="event-list"></div>
          <div id="map-canvas" class="col-md-8"></div>
        </div>
    </div> <!--welcome -->
</div> <!--container -->

