<div class="container">
    <div class="col-md-12" id="welcome">
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p>1. Please enter one or more of the following:</p>
        <ul>
          <li>Some location details (street address, city, state)</li>
          <li>An event category ("music," "sports," etc.)</li>
          <li>A date (you can enter a start and end date in the upper left corner, or a single date in the upper right corner)</li>
        </ul>
        <p>2. Click search, and let the fun begin!</p>
        <p> </p>
        <h4>(Remember, you can always start over by clicking "new search")</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" id="event-list">
      </div>
      <div id="map-canvas" class="col-md-8">
      </div>
    </div>
</div>

