<%= javascript_include_tag "search" %>
<div class="containter">
    <div class="row">
      <div id="event-list" class="col-md-4">
      </div>
      <div id="map-canvas" class="col-md-8">
      </div>
    </div>
</div>

