<!DOCTYPE html>
<html>
<head>
  <title>GetThereApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4JfW9-iLZs7LkIAzWntqHs_HW6ewvt2U"></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Location <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <form action="">
                  <label for="streetAdr">Street</label>
                  <input id="streetAdr" type="text"/><br/>

                  <label for="city">City</label>
                  <input id="city" type="text"/><br/>

                  <label for="state">State</label>
                  <input id="state" type="text" value="CA"/><br/>
                </form>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Date/Time <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <form action="">
                <label for="fromDt">From</label>
                <input id="fromDt" type="date"/><br/>

                <label for="toDt">To</label>
                <input id="toDt" type="date"/><br/>
              </form>
            </ul>
          </li>
      </ul>
        <form id="frmSearch" class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" name="keywords" id="keywords" placeholder="Search">
          </div>
          <div class="form-group">
            <input type="date" class="form-control" name="startDate" id="startDate" placeholder="Start Date">
          </div>
          <button type="button" id="search" class="btn btn-danger">Search</button>
        </form>
    </nav>

<%= yield %>

</body>
</html>
